/* General Styles */
* {
    border:none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../images/speedy-typer-background.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: 'Potta One', cursive;
    text-transform: uppercase;
    margin: 0 10%;
    letter-spacing: 2px;
    font-size: clamp(26px, 4vw, 46px);
    color: #fff;
}

h2 h3 {
    letter-spacing: 0.5px;
}

h2 {
    font-size: clamp(22px, 3.5vw, 28px);
}

h3 {
    text-align: center;
    font-size: clamp(20px, 3vw, 24px);
}

p {
    font-size: clamp(12px, 2vw, 16px);
}

.logo {
    text-decoration: none;
    color: black;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.ta-blue {
    color: #5f9ea0;
    font-weight: 700;
}

.cd-red {
    color: #bb0721;
    font-weight: 700;
}

#game-container {
    width: min(900px, 90%);
    height: min(450px, 80vh);
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    background: linear-gradient(rgb(28, 37, 65, 0.7), rgb(28, 37, 65, 0.7));
    color: #fff;
    padding: 30px;
    border-radius: 35px;
    overflow: hidden;
}

#how-to-play {
    text-align: justify;
}

#difficulty-select {
    display: none;
}

#game {
    display: none;
    height: 90%;
    font-weight: 700;
}

#answer {
    width: min(90%, 400px);
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

#random-word {
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: clamp(24px, 4vw, 40px);
}


#timer-icon {
    font-size: clamp(24px, 4vw, 34px);
}

/* Buttons */

.btn-main {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    font-size: clamp(12px, 3vw, 20px);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px;
}

#btn-ta {
    background-color: #5f9ea0;
    color: #fff;
}

#btn-ta:hover {
    background-color: #fff;
    color: #5f9ea0;
    border: 4px solid #5f9ea0;
}

#btn-cd {
    background-color: #bb0721;
    color: #fff;
}

#btn-cd:hover {
    background-color: #fff;
    color: #bb0721;
    border: 4px solid #bb0721;
}

#btn-easy {
    background-color: #90ee90;
    color: #fff;
}

#btn-easy:hover {
    background-color: #fff;
    color: #90ee90;
    border: 4px solid #90ee90;
}

#btn-med {
    background-color: #ffa500;
    color: #fff;
}

#btn-med:hover {
    background-color: #fff;
    color: #ffa500;
    border: 4px solid #ffa500;
}

#btn-hard {
    background-color: #bb0721;
    color: #fff;
}

#btn-hard:hover {
    background-color: #fff;
    color: #bb0721;
    border: 4px solid #bb0721;
}

#btn-start {
    height: 30px;
    width: max(20%, 100px);
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: #21aa4f;
}

#btn-start:hover{
    color: #21aa4f;
    background-color: #fff;
    border: 3px solid #21aa4f;
}

#btn-start:disabled {
    background-color: #000000;
}

.nohover {
    pointer-events: none;
}

.btn-menu {
    font-size: 30px;
    color: #fff;
    display: contents;
}

.btn-menu:hover {
    background-color: #fff;
    color: lightslategrey;
}

.btn-difficulty {
    margin: 5px 150px;
    font-size: 20px;
    width: 90%;
    max-width: 300px;
}

.menu {
    padding-top: 10px;
}

/* Media Queries */

@media screen and (max-width: 400px) {
    .padding-bottom {
        padding-bottom: 15px;
    }

    .padding-top {
        padding-top: 15px;
    }

    #btn-ta, #btn-cd {
        display: inline;
    }
}

@media screen and (max-width: 675px) {
    .btn-main {
        width: 40%;
        max-width: 200px;
        min-width: 100px;
        margin: 0 auto 10px auto;
        height: 50px;
        position: relative;
        display: block;
    }

    .btn-difficulty {
        min-width: 90%;
        height: 80px;
    }

    #game-container {
        padding: 10px;
    }
}

@media screen and (orientation:landscape) 
    and (max-width: 1000px) {
        .btn-main {
            width: 20%;
            max-width: 200px;
            min-width: 100px;
            margin: 0 auto 10px auto;
            height: 50px;
            position: relative;
            display: block;
            font-size: 12px;
        }
    
        .btn-difficulty {
            min-width: 70%;
            height: 50px;
        }
    
        #game-container {
            padding: 10px;
            min-height: 350px;
        }

        .padding-bottom {
            padding-bottom: 15px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 14px;
        }

        #random-word {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }

        #answer {
            height: 20px;
        }
    }