* {
    border:none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Potta One', cursive;
    text-transform: uppercase;
    color: #000;
}

a {
    text-decoration: none;
}

#game-container {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 35px;
}

#how-to-play {
    padding-top: 10px;
}
